<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Danh sách User</h1>
<p>Hiển thị danh sách User trên hệ thống</p>
<h2 style="background: aqua">
    <%= name %>
</h2>

<% for(var i = 0; i < data.length; i++){ %>
    <div><%= data[i].id %></div>
    <div><%= data[i].name %></div>
    <div><%= data[i].address %></div>
    <div><%= data[i].phone %></div>
    <a href="/deleteUser?id=<%= data[i].id %>">Delete</a>
    <a href="/updateUser?id=<%= data[i].id %>">Update</a>
    <hr>
<% } %>
</body>
</html>